@(person: Person, offices:List[Office])

@main("Welcome to Play 2.1") {


    <p>A pessoa encontrada é: </p>
    <p>@person.id</p>
    <p>@person.firstname</p>
    <p>@person.surname</p>

    @for(office <- offices){
        <p>
            @office.id-@office.building
        </p>
    }

}
