@(departments: Iterable[Department], offices: Iterable[Office])
@import scala.collection.JavaConversions._

@main("Welcome to Play 2.1") {


    <p>ManyToMany</p> <a href="@routes.Application.create(1, 2)">executar o many to many</a>
    <br><br>
    @for(department <- departments.iterator){
        <p>@department.id-@department.name</p>
        <a href="@routes.Application.showDepartment(department.id)">Olhar departamento e suas pessoas</a>

    }
    <br><br><br><br>
    @for(office <- offices.iterator){
        <p>@office.id-@office.building</p>
        <a href="@routes.Application.showOffice(office.id)">Mostrar Office e seus departamentos</a>

    }

    <br><br>
    <a href="@routes.Application.searchDepartment()">TESTE para mostrar departamento procurado</a>
}
