@(department: Department)
@import scala.collection.JavaConversions._

@main("Welcome to Play 2.1") {
    @for(person <- department.people) {
        <p style="color: blue">Pessoa neste departamento: @person.id-@person.firstname</p>
    }
    @for(office <- department.office) {
        <p style="color: red">Office: @office.id-@office.building</p><br><a href="@routes.Application.showOffice(office.id)">VEEEEEEJA</a>
    }

}
